# Configuration file

##########################################################################################################
# armor
#--------------------------------------------------------------------------------------------------------#
# Custom armor properties
##########################################################################################################

armor {

    item_natura_armor_imphelmet {
        S:01.ID=Natura:natura.armor.imphelmet
        D:"02.Temp Add - Night"=1.1
        D:"03.Temp Add - Shade"=1.1
        D:"04.Temp Add - Sun"=1.1
        D:"05.Temp Multiplier - Night"=0.7
        D:"06.Temp Multiplier - Shade"=0.7
        D:"07.Temp Multiplier - Sun"=0.7
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    item_natura_armor_impjerkin {
        S:01.ID=Natura:natura.armor.impjerkin
        D:"02.Temp Add - Night"=1.1
        D:"03.Temp Add - Shade"=1.1
        D:"04.Temp Add - Sun"=1.1
        D:"05.Temp Multiplier - Night"=0.7
        D:"06.Temp Multiplier - Shade"=0.7
        D:"07.Temp Multiplier - Sun"=0.7
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    item_natura_armor_impleggings {
        S:01.ID=Natura:natura.armor.impleggings
        D:"02.Temp Add - Night"=1.1
        D:"03.Temp Add - Shade"=1.1
        D:"04.Temp Add - Sun"=1.1
        D:"05.Temp Multiplier - Night"=0.7
        D:"06.Temp Multiplier - Shade"=0.7
        D:"07.Temp Multiplier - Sun"=0.7
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    item_natura_armor_impboots {
        S:01.ID=Natura:natura.armor.impboots
        D:"02.Temp Add - Night"=1.1
        D:"03.Temp Add - Shade"=1.1
        D:"04.Temp Add - Sun"=1.1
        D:"05.Temp Multiplier - Night"=0.7
        D:"06.Temp Multiplier - Shade"=0.7
        D:"07.Temp Multiplier - Sun"=0.7
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

}


##########################################################################################################
# blocks
#--------------------------------------------------------------------------------------------------------#
# Custom block properties
##########################################################################################################

blocks {

    "Natura Cloud" {
        S:01.Name=Natura:Cloud
        I:02.MetaID=0
        S:03.DropName=Natura:Cloud
        I:04.DropMetaID=0
        I:05.DropNumber=0
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.01
        D:09.Sanity=0.0001
        S:10.Stability=floating
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    "Natura Dark Cloud" {
        S:01.Name=Natura:Cloud
        I:02.MetaID=1
        S:03.DropName=Natura:Cloud
        I:04.DropMetaID=1
        I:05.DropNumber=0
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=floating
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    "Natura Ash Cloud" {
        S:01.Name=Natura:Cloud
        I:02.MetaID=2
        S:03.DropName=Natura:Cloud
        I:04.DropMetaID=2
        I:05.DropNumber=0
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=-0.7
        D:09.Sanity=0.0
        S:10.Stability=floating
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    "Natura Sulphur cloud" {
        S:01.Name=Natura:Cloud
        I:02.MetaID=3
        S:03.DropName=Natura:Cloud
        I:04.DropMetaID=3
        I:05.DropNumber=0
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=-0.75
        D:09.Sanity=0.0
        S:10.Stability=floating
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    "Natura Heat Sand" {
        S:01.Name=Natura:heatsand
        I:02.MetaID=-1
        S:03.DropName=Natura:heatsand
        I:04.DropMetaID=-1
        I:05.DropNumber=0
        B:"06.Enable Temperature"=true
        D:07.Temperature=40.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=sand-like
        B:11.Slides=true
        B:"12.Slides When Wet"=true
    }

    "Natura Tainted Soil" {
        S:01.Name=Natura:soil.tainted
        I:02.MetaID=-1
        S:03.DropName=Natura:soil.tainted
        I:04.DropMetaID=-1
        I:05.DropNumber=0
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=-0.01
        D:09.Sanity=-0.05
        S:10.Stability=loose
        B:11.Slides=false
        B:"12.Slides When Wet"=true
    }

}


##########################################################################################################
# entity
#--------------------------------------------------------------------------------------------------------#
# Custom entity properties
##########################################################################################################

entity {

    "Natura Imp" {
        I:"01.Entity ID"=128
        B:"02.Enable EnviroTracker"=true
        B:"03.Enable Dehydration"=false
        B:"04.Enable BodyTemp"=true
        B:"05.Enable Air Quality"=false
        B:"06.Immune To Frost"=false
        B:"07.Immune To Heat"=true
        D:"08.Ambient Sanity"=-0.01
        D:"09.Hit Sanity"=0.0

        # Overridden by body temp
        D:"10.Ambient Temperature"=37.0
        D:"11.Hit Temperature"=0.0
        D:"12.Ambient Air"=0.0
        D:"13.Hit Air"=0.0
        D:"14.Ambient Hydration"=0.0
        D:"15.Hit Hydration"=0.0
    }

}


##########################################################################################################
# items
#--------------------------------------------------------------------------------------------------------#
# Custom item properties
##########################################################################################################

items {

    "Natura Cooked Imphide" {
        S:01.Name=Natura:impmeat
        I:02.Damage=1
        B:"03.Enable Ambient Temperature"=true
        D:"04.Ambient Temperature"=37.5
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
    }

    "Natura Nether berries" {
        S:01.Name=Natura:berry_nether
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=0.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=-0.01
        D:"08.Effect Air Quality"=-0.01
        D:"09.Effect Sanity"=-0.01
        D:"10.Effect Hydration"=3.0
        D:"11.Effect Temperature Cap"=37.01
    }

    "Natura berries" {
        S:01.Name=Natura:berry
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=0.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=-0.01
        D:"08.Effect Air Quality"=-0.01
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=5.0
        D:"11.Effect Temperature Cap"=37.01
    }

    "Natura Potash Apple" {
        S:01.Name=Natura:Natura_netherfood
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=0.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=-0.02
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=-0.1
        D:"11.Effect Temperature Cap"=37.01
    }

    "Natura Glowshroom Stew" {
        S:01.Name=Natura:natura_stewbowl
        I:02.Damage=14
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=0.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=-0.05
        D:"08.Effect Air Quality"=-0.05
        D:"09.Effect Sanity"=-0.05
        D:"10.Effect Hydration"=25.0
        D:"11.Effect Temperature Cap"=37.05
    }

    "Natura Cactus Juice" {
        S:01.Name=Natura:waterdrop
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=0.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=-0.05
        D:"08.Effect Air Quality"=-0.05
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=12.0
        D:"11.Effect Temperature Cap"=37.05
    }

    "Natura Flora Leaves" {
        S:01.Name=Natura:floraleaves
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=0.0
        D:"05.Ambient Air Quality"=1.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
    }

    "Natura Flora Leaves no color" {
        S:01.Name=Natura:floraleavesnocolor
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=0.0
        D:"05.Ambient Air Quality"=1.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
    }

    "Natura Dark Leaves" {
        S:01.Name="Natura:Dark Leaves"
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=0.0
        D:"05.Ambient Air Quality"=1.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
    }

    "Natura rare Leaves" {
        S:01.Name="Natura:Rare Leaves"
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=0.0
        D:"05.Ambient Air Quality"=1.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
    }

    "Natura Nether berry Bush" {
        S:01.Name=Natura:NetherBerryBush
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=0.0
        D:"05.Ambient Air Quality"=0.5
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
    }

    "Natura berry Bush" {
        S:01.Name=Natura:BerryBush
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=0.0
        D:"05.Ambient Air Quality"=0.5
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
    }

    "Natura Bluebells" {
        S:01.Name=Natura:Bluebells
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=0.0
        D:"05.Ambient Air Quality"=0.1
        D:"06.Ambient Santity"=0.1
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
    }

    "Natura Saguaro Fruit" {
        S:01.Name=Natura:saguaro_fruit
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=0.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=-0.01
        D:"08.Effect Air Quality"=-0.01
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=5.0
        D:"11.Effect Temperature Cap"=37.01
    }

}


